.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.outputPath {
  flex: 1;
}

.templateLabel {
  font-size: 11px;
  white-space: nowrap;
  color: var(--mantine-color-dimmed);
}

.templateInput {
  flex: 1;
}

.body {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.emptyState {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
