.outer {
  display: flex;
  height: 100%;
  flex-shrink: 0;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--mantine-color-gray-3);
}

.sizer {
  position: relative;
}

.col {
  position: absolute;
  top: 0;
  height: 100%;
}

.itemWrapper {
  position: absolute;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
